
<div class="d-flex act_main" style="z-index: 99999; position: absolute;">
    <div class="col d-flex flex-column align-items-center justify-content-center form_form" style="background: #f5f6f8; width: 50vw;">
        <img src="../../../../../assets/logos/logo_propet_black.png" alt="user-image"  style="margin-left: 0px; height: 100px; width: 100px;">
        <br>
        <div class="main_login">
          
                <div class="main_login">
                    <div class="field w-100">
                        <label style="margin-left: 100px;">Email:</label>
                        <input type="text" autocomplete="off" formControlName="email" class="form-control" style="border-radius: 30px;">
                    </div>
                    <div class="field mt-2 w-100">
                        <label style="margin-left: 100px;">Senha:</label>
                        <input type="password" autocomplete="off" formControlName="password" class="form-control" onpaste="return false" ondrop="return false" style="border-radius: 30px;">
                        <div class="p-error">
                            <!--<small >Email ou senha inválidos</small>-->
                        </div>
                    </div>
                    <div class="actions mt-4 d-flex flex-column align-items-center">
                        <button (click)="navigate()" type="submit" class="w-100 btn btn-danger mb-4" style="border-radius: 100px; ">Entrar</button>
                        <p>Não possui conta?<a href="register" class="text-link"> Registre-se</a></p>
                    </div>
                </div>
           
        </div>
    </div>
    <div class="col">
        <img  src="../../../../../assets/logos/logoend.png" class="hero_bg" alt="" style="width: 50vw; height: 100vh; object-fit: cover;">
    </div>
</div>



