<!-- Topbar Start -->
<div class="navbar-custom customNav">
    <div class="container-fluid">
         <ul class="list-unstyled topnav-menu float-end mb-0">

            <li class="dropdown notification-list topbar-dropdown">
                <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown"
                    href="#" role="button" aria-haspopup="false" aria-expanded="false">                 
                </a>
                <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Bem-vindo!</h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user"></i>
                        <span>Minha Conta</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-bookmark"></i>
                        <span>Assinatura</span>
                    </a>
                    
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings"></i>
                        <span>Configurações</span>
                    </a>

                    <div class="dropdown-divider"></div>

                    <!-- item-->
                    <a  class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Sair</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a href="login" class="nav-link right-bar-toggle waves-effect waves-light">
                    <i class="fe-settings noti-icon"></i>
                </a>
            </li>

        </ul>

        

        <!-- LOGO -->
        <div class="logo-box">
            <a href="index.html" class="logo logo-dark text-center">
                <span class="logo-sm">
                 <img src="../../../../../assets/logos/WhatsApp_Image_2022-10-18_at_20.21.46-removebg-preview.png" alt="" height="22">
                    <!-- <span class="logo-lg-text-light">UBold</span> -->
                </span>
                <span class="logo-lg">
                   <img src="../../../../../assets/logos/WhatsApp_Image_2022-10-18_at_20.21.46-removebg-preview.png" alt="" height="90px" style="    margin-top: 5px;">
                    <!-- <span class="logo-lg-text-light">U</span> -->
                </span>
            </a>

         
        </div>


       
    </div>
</div>
<!-- end Topbar -->
