<!-- Topbar Start -->
<!-- <div class="navbar-custom customNav"> -->
<!--     <div class="container-fluid"> -->
<!--          -->
<!--          <ul class="list-unstyled topnav-menu float-end mb-0"> -->
<!--               -->
<!--               -->
<!--               -->
<!--              <li class="dropdown notification-list">        -->
<!--                  <button (click)="logout()" type="button" class="btn btn-outline" style="    margin-top: 60%; background-color: white;" > -->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16"> -->
<!--                          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/> -->
<!--                          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/> -->
<!--                        </svg> -->
<!--                </button> -->
<!--             </li> -->
<!---->
<!--         </ul> -->
<!---->
        

        <!-- LOGO -->
<!--         <div class="logo-box"> -->
<!--             <a href="index.html" class="logo logo-dark text-center"> -->
<!--                 <h4> -->
<!--                     <i class="bi bi-house-fill"></i> -->
<!--                      -->
<!--                     {{title}}</h4> -->
<!--             </a> -->
<!---->
<!--           -->
<!--         </div> -->
<!---->
<!---->
<!--         -->
<!--     </div> -->
<!-- </div> -->
<!-- end Topbar -->
<div style="margin-top: 25px;">
  <div class="col-12"> 
    <div class="card" style="border-radius: 12px; margin-top: 1%;">
      <div class="card-body">
        <div class="row row_bread">
          <div class="col">
            <i class="fa fa-hand-peace"></i>
            <span>  {{title}}</span>
          </div> 
          <div class="col">
            <div>
              <ol class="breadcrumb" style="margin-left: 43%;">
                  <li class="breadcrumb-item"><a>Home</a></li>
                  <li class="breadcrumb-item"><a>usuarios</a></li>
                  <li class="breadcrumb-item active">listagem usuarios</li>
              </ol>
          </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
