
<div id="wrapper">
    <div class="content-page" style="margin-top: 125px!important; margin: 0 0 0 240px;">
        <div class="content">

            <!-- Start Content-->

            <div class="container-fluid">
               

                <!-- end page title -->

                <div class="row">
                    <div class="row mt-3">
                          <div class="col-12">
                            <div class="row">

                                <div class="col-md-6 col-xl-4">
                                    <div class="widget-rounded-circle card">
                                        <div class="card-body" style=" height: 130px;">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                                                        <i class=" font-22 avatar-title text-primary">
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                                          </svg>
                                                          
                                                        </i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                  <div  class="text-end">
                                                    <h3 class="text-dark my-1"><span
                                                            data-plugin="counterup">1.000,00</span>
                                                    </h3>
                                                    <p class="text-muted mb-2 text-truncate"> Mês Atual 10/2022 </p>
                                                </div>
                                                </div>
                                            </div> <!-- end row-->
                                        </div>
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->
                                
                                <div class="col-md-6 col-xl-4">
                                    <div class="widget-rounded-circle card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="avatar-lg rounded-circle bg-soft-danger border-danger border">
                                                        <i class=" font-22 avatar-title text-danger">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                              </svg>
                                                        </i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="text-end">
                                                        <h3 class="text-dark mt-1"><span data-plugin="counterup">{{countClient}}</span></h3>
                                                        <p class="text-muted mb-1 text-truncate">Quantidade usuarios</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end row-->
                                        </div>
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->
                            
                                <div class="col-md-6 col-xl-4">
                                  <div class="widget-rounded-circle card">
                                      <div class="card-body">
                                          <div class="row">
                                              <div class="col-6">
                                                  <div class="avatar-lg rounded-circle bg-soft-primary border-primary border">
                                                      <i class=" avatar-title text-primary">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                                          </svg>
                                                      </i>
                                                  </div>
                                              </div>
                                              <div class="col-6">
                                                  <div class="text-end">
                                                      <h3 class="mt-1"><span data-plugin="counterup">{{countPet}}</span></h3>
                                                      <p class="text-muted mb-1 text-truncate">Quantidade de pets</p>
                                                  </div>
                                              </div>
                                          </div> <!-- end row-->
                                      </div>
                                  </div> <!-- end widget-rounded-circle-->
                              </div> <!-- end col-->
                            
                            
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-12"> 
                    <div class="card">
                        <div class="card-body">
                          <h4>Entregas do dias</h4>
                
                            <div id="cardCollpase5" class="collapse show">
                                <div class="table-responsive">
                                    <table class="table table-hover table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Pet</th>
                                                <th>Quantidade</th>
                                                <th>Serviço</th>
                                                <th>Horario entraga</th>
                                                <th>Status</th>

                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container >
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>

                                                    
                                                </tr>
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>

                                                    
                                                </tr>
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>DEIBI</td>
                                                    <td>BACATE</td>
                                                    <td>5</td>
                                                    <td>Banho</td>
                                                    <td>01:00</td>
                                                    <td>Henrique voltar</td>

                                                    
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div> <!-- end table responsive-->
                            </div> <!-- collapsed end -->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->


            </div>
        </div>
    </div>
  </div>
  <!-- end row -->

