<div id="wrapper">


    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu" style="border-radius: 12px; margin-top: 76px;;">

        <div class="h-100" data-simplebar>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul id="side-menu">
                    <a class=" nav-user me-2 waves-effect waves-light" data-bs-toggle="dropdown"
                    href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="../../../../../assets/logos/logo_pro_pet-sem-fundo.png" alt="user-image"  style="margin-left: 30px; height: 100px; width: 100px;">
                   
                </a>
                    <br>

                    <li>
                        <a href="index.html">
                            <i class="fe-home"></i>
                            <span> Home </span>
                        </a>
                    </li>
                    <li>
                        <a href="usuario">
                            <i class="fa fa-user-circle"></i>
                            <span>Usuários</span>
                        </a>
                    </li>
                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
</div>