element.style {
    border-radius: 11px;
    margin-top: 40px;
}

.left-side-menu {
  top: -50px !important;
}

.menu-title {
    padding: 10px 20px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #a8201a !important;
    font-weight: 400;
}
