
            <!-- Start Content-->

            <div class="container-fluid">

              <!-- <app-navbar></app-navbar> -->
                <!-- end page title -->

                <div class="row">
                    <div class="row mt-3">
                          <div class="col-12">
                            <div div class="card">
                                <div class="card-body">
                                    <form [formGroup]="PetForm">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <h6 class="h6_">Nome do Pet</h6>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu Nome" autocomplete="false" formControlName="name">
                                                  </div><br>
    
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <h6 class="h6_">Id do cliente</h6>
                                                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu Nome" autocomplete="false" formControlName="clientId">
                                                  </div><br>
                                            </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <h6 class="h6_">Tamanho</h6>
                                                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu Nome" autocomplete="false" formControlName="weight">
                                                  </div><br>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <h6 class="h6_">Descrição</h6>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu Nome" autocomplete="false" formControlName="description">
                                                  </div><br>
                                            </div>        
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <h6 class="h6_">Categoria</h6>
                                                <select  class="select" name="opcoes" id="select"  formControlName="category">
                                                    <option value="BIG">Grande</option>
                                                    <option value="MEDIUM">Medio</option>
                                                    <option value="SMALL">Pequeno</option>
 
                                                 </select>
                                            </div>
                                            <div class="col">
                                                <h6 class="h6_">Tipo</h6>
                                                <select  class="select" name="opcoes" id="select"  formControlName="type">
                                                    <option value="CAT">Gato</option>
                                                    <option value="DOG">Cachorro</option>
 
                                                 </select>
                                            </div>
                                        </div><br>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <h6 class="h6_">ID da raça</h6>
                                                    <h6 class="h6_">Tipo</h6>
                                                    <select  class="select" name="opcoes" id="select"  formControlName="type">
                                                        <option *ngFor="let destino of breed"  value="CAT"></option>
                                                     </select>
                                                    <div class="cardForm mt-2">
                                                        <select class="custom" placeholder="Digite seu destino">
                                                          <option *ngFor="let destino of breed" [value]="destino.id">{{destino.name}}</option>
                                                          </select>
                                                      </div>
                                                  </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <h6 class="h6_">Nome</h6>
                                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu Nome" autocomplete="false" formControlName="description">
                                                  </div>
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <div class="col-lg-0">
                                        <div class="d-flex flex-wrap align-items-center">
                                            <div class="col-sm-2 d-flex flex-row">
                                                <a  (click)="back()" class="btn btn-primary d-flex justify-content-center align-items-center m-1">
                                                    <svg style="margin-right: .5rem;" xmlns="http://www.w3.org/2000/svg"
                                                        width="16" height="16" fill="currentColor"
                                                        class="bi bi-chevron-left mr-2" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                                    </svg>
                                                    Voltar
                                                </a>
                                                <button (click)="create()" class="btn btn-danger d-flex justify-content-center align-items-center m-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-device-ssd-fill"
                                                        viewBox="0 0 16 16">
                                                        <path d="M5 8V4h6v4H5Z" />
                                                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4Zm0 1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm9 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM3.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm9.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM4.75 3h6.5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-.75.75h-6.5A.75.75 0 0 1 4 8.25v-4.5A.75.75 0 0 1 4.75 3ZM5 12h6a1 1 0 0 1 1 1v2h-1v-2h-.75v2h-1v-2H8.5v2h-1v-2h-.75v2h-1v-2H5v2H4v-2a1 1 0 0 1 1-1Z" />
                                                    </svg>
                                                    Salvar
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

  <!-- end row -->
