<div id="wrapper">
    <div class="content-page" style="margin-top: 125px!important; margin: 0 0 0 240px;">
        <div class="content">

            <!-- Start Content-->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a>Home</a></li>
                                    <li class="breadcrumb-item"><a>usuarios</a></li>
                                    <li class="breadcrumb-item active">listagem usuarios</li>
                                </ol>
                            </div>
                            <h4 class="page-title mb-1">usuarios</h4>
                        </div>
                    </div>
                </div>

                <!-- end page title -->

                <div class="row">
                    <div class="row mt-3">
                          <div class="col-12">
                            <div div class="card">
                                <div class="card-body">

                                    <div id="cardCollpase5" class="collapse show">
                                        <div class="table-responsive">
                                            
                                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                          <!-- Position Column -->
                                          <ng-container matColumnDef="name">
                                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                          </ng-container>

                                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                        </div> <!-- end table responsive-->
                                    </div> <!-- collapsed end -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
  </div>
  <!-- end row -->
